-i https://pypi.org/simple/
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cognitive-face==1.4.2
cryptography==3.4.7
dataclasses==0.8 ; python_version < '3.7'
flask-uploads==0.2.1
flask==1.0.2
glob2==0.6
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
numpy==1.19.5
pandas==0.23.4
pycparser==2.20
pyopenssl==18.0.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
werkzeug==2.0.1
zipp==3.4.1
