-i https://pypi.org/simple/
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cognitive-face==1.4.2
cryptography==3.2
flask-uploads==0.2.1
flask==1.0.2
glob2==0.6
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
numpy==1.19.2
pandas==0.23.4
pycparser==2.20
pyopenssl==18.0.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.11
werkzeug==1.0.1
